@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; font-size:6vw;">WIRE_FACER</h1>
<br />
<div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Take photo</button>
</div>
<canvas id="canvas"></canvas>
<div class="output">
</div>
