@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; font-size:6vw;">W1R3_F4C3R</h1>
<br />
<div id="rowA">
        <div id="colA">
            <div class="camera">
                <video id="video">N0_5TR34M_4V41L.</video>
            </div>
            <canvas style="display:none;" id="canvas"></canvas>
            <div class="output"></div>
        </div>
    </div>
    <br />
    <div style="text-align:center;">
        <button id="startbutton">WIRE_IZE</button>
    </div>