@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; font-size:6vw;">WIRE_FACER</h1>
<br />
    <video id="webcam" width="640" height="480"></video>
<br />
    <input type="button" id="snapPicture" value="WIRE_IZE" />
