@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; font-size:6vw;">WIRE_FACER</h1>
<br />
<div class="container" style="text-align:center;">
    <div class="camera">
        <video id="video">Video stream not available.</video>

    </div>
    
    <canvas id="canvas"></canvas>
    <div class="output">
    </div>
    <button id="startbutton">WIRE_IZE</button>
</div>
