html {
    font-family: 'IBM Plex Mono', monospace;
    
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
    color: white;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
